.imgSize{
  width: 200px;
  height: 200px;
  
}

.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
}

h5 {
  color: white !important;
}